$primary: #6404bd;
$black: rgb(29, 29, 29);
$white: rgb(230, 230, 230);

@mixin linear-bg {
  background: rgb(100, 4, 189);
  background: -moz-linear-gradient(
    180deg,
    rgba(100, 4, 189, 1) 0%,
    rgba(175, 4, 189, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(100, 4, 189, 1) 0%,
    rgba(175, 4, 189, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(100, 4, 189, 1) 0%,
    rgba(175, 4, 189, 1) 100%
  );
}
/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  font-size: 16px;
  color: $black;
  text-decoration: none;
}
.container {
  width: 80%;
  margin: auto;
}
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: $primary;
  color: $white;
  font-weight: 500;
  justify-content: flex-end;
  width: 100%;
  padding-right: 3%;
  text-transform: uppercase;
  font-weight: 600;
  .nav-logo {
    flex: 1;
    padding-left: 5%;
    li {
      color: $white;
    }
  }
  .nav-item {
    text-decoration: none;
    padding: 0 1%;
    li {
      color: $white;
      &:hover {
        color: lighten($white, 60);
      }
    }
  }
}

#showcase {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include linear-bg;

  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
  }
  a {
    background-color: $primary;
    border-radius: 32px;
    color: $white;
    padding: 0.6rem 2rem;
    display: block;
    margin-top: 4rem;
    transition: background-color, color, padding 200ms linear;
    &:hover {
      background-color: darken($primary, 10);
      color: lighten($white, 10);
      padding: 0.6rem 3.5rem;
    }
  }
}

#about {
  height: 80vh;
  display: flex;
  .about-img {
    background-image: url("../img/undraw_version_control_9bpv.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    flex-basis: 50%;
  }
  .about-me {
    padding-left: 1%;
    height: auto;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      margin-top: 4rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 600;
      color: $black;
      margin-bottom: 2rem;
      width: fit-content;
      position: relative;
      &:after {
        content: "";
        height: 6px;
        background-color: lighten($primary, 10);
        width: 40%;
        border-radius: 32px;
        display: block;
        position: absolute;
        left: 1%;
        bottom: 2%;
      }
    }
    a {
      text-decoration: none;
      padding: 0.6rem 2.5rem;
      margin: 3rem auto;
      display: block;
      border: 2px solid $primary;
      border-radius: 32px;
      font-weight: 600;
      color: $primary;
      transition: padding linear 200ms;
      &:hover {
        padding: 0.6rem 3.5rem;
      }
    }
  }
}

#skills {
  @include linear-bg;
  padding-bottom: 2rem;
  h2 {
    margin: 0rem auto;
    padding: 2rem;
    width: fit-content;
    color: $white;
    font-size: 3rem;
    position: relative;
    &:after {
      content: "";
      height: 4px;
      width: 100%;
      display: block;
      border-radius: 32px;
      background-color: $white;
    }
  }

  .container {
    display: flex;
    div {
      margin: 0rem 1rem;
      flex-basis: calc(33% - 2rem);
      ul {
        background-color: #ffffff;
        display: block;
        text-align: center;
        border-radius: 8px;
        height: 100%;
        li {
          padding: 0.5rem 0;
        }
        :first-child {
          text-transform: uppercase;
          font-weight: 700;
          padding: 1rem;
          border-bottom: 2px solid $primary;
        }
      }
    }
  }
}
